## Stuff that should not be public
Year_Specific/
book/HW/

## Book materials that do not need to be in the repo
book/cache/
book/FBMatter/*.aux
book/data/zPDFSources/
book/Figs/*.pdf
book/Figs/zzzOld/
book/*.synctex.gz
book/Biometry.pdf
book/Biometry.aux
book/Biometry.bbl
book/Biometry.brf
book/Biometry.idx
book/Biometry.ilg
book/Biometry.ind
book/Biometry.log
book/Biometry.maf
book/Biometry.mt*
book/Biometry.out
book/Biometry.toc
book/Biometry-concordance.tex
book/pdftk.exe
book/libiconv2.dll
book/zzzRestrict Printing.txt

## Lecture materials that do not need to be in the repo
lecture/CEs/*.log
lecture/CEs/*.synctex.gz
lecture/CEs/*.tex
lecture/CEs/Figs/*.pdf
lecture/HOs/*.aux
lecture/HOs/*.log
lecture/HOs/*.out
lecture/HOs/*.synctex.gz
lecture/HOs/*.tex
lecture/HOs/Figs/*.pdf
lecture/HOs/cache/
lecture/HOs/zOld/

## R History files
.Rhistory
.Rapp.history

## R project info
.Rproj.user
